.visible {
    display: inherit;
}

.oculto {
    display: none;
}

.marco {
    border: 1px solid #153244;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
}

p.marco, div.marco > p {
    font-size: larger;
    margin: 1rem 0.5rem;
    padding: 0.75rem ;
    background-color: #153244;
    color: white;
    border-radius: 10px;
}

.imgEstado {
    width: 3rem;
}

label + div {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-items: center;
}

.marcoOK {
    border: 5px solid greenyellow;
}

.marcoNoOk {
    border: 5px solid yellow;
}

li {
    margin: 0.5rem 0;
    list-style-type: none;
}

ul {
    padding-left: 0;
    margin: 1rem 0.5rem;
}

input {
    margin: 0 0.5rem;
}

.seleccionado {
    background-color: #ffcc008a;
    padding: 0.25rem 2rem;
    border: 1px solid #153244;
    border-radius: 5px;
}